
h1{
    color: orangered;
    font-size: 50px;
    text-align: center;
}

.formulario{
    background-color: rgb(68, 131, 224);
    width: 45%;
    margin: auto;
    padding: 20px 10px;
}
.arriba{
    display: flex;
    margin: auto;
}

.ma{
    padding: 10px;
    margin: 10px;
    height: 50px;
}
 textarea{
    width: 90%;
    margin-left: 20px;
}
input{
    height: 40px;
    width: 250px;
    
}
.ul>input{
    background-color: rgb(16, 3, 75);
    color: white;
    margin-left: 170px;
}
